In [1]:

import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel("D:/kaggle/sunbase/customer_churn_large_dataset.xlsx")

In [3]:
#df.describe
print(df.dtypes)

CustomerID                      int64
Name                           object
Age                             int64
Gender                         object
Location                       object
Subscription_Length_Months      int64
Monthly_Bill                  float64
Total_Usage_GB                  int64
Churn                           int64
dtype: object

In [4]:
df['Subscription_Length_Months'] = df['Subscription_Length_Months'].astype(int)
df['Gender'] = df['Gender'].apply(str)
df['Gender'] = df['Gender'].apply(lambda x: str(x) if isinstance(x, str) else pd.NA)
df['Location'] = df['Location'].apply(str)
print(df.dtypes)

CustomerID                      int64
Name                           object
Age                             int64
Gender                         object
Location                       object
Subscription_Length_Months      int32
Monthly_Bill                  float64
Total_Usage_GB                  int64
Churn                           int64
dtype: object

In [5]:
#i try this area to the empty cell clear function but there is no empty cells i found in the df
#then lets do the analysis

In [6]:
dfnew=df[['Age','Subscription_Length_Months','Location','Gender','Monthly_Bill']]
y=df[['Churn']]
dfnew

       Age  Subscription_Length_Months     Location  Gender  Monthly_Bill
0       63                          17  Los Angeles    Male         73.36
1       62                           1     New York  Female         48.76
2       24                           5  Los Angeles  Female         85.47
3       36                           3        Miami  Female         97.94
4       46                          19        Miami  Female         58.14
...    ...                         ...          ...     ...           ...
99995   33                          23      Houston    Male         55.13
99996   62                          19     New York  Female         61.65
99997   64                          17      Chicago    Male         96.11
99998   51                          20     New York  Female         49.25
99999   27                          19  Los Angeles  Female         76.57

[100000 rows x 5 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder1 = LabelEncoder()

In [8]:
dfnew['Location_n'] = label_encoder.fit_transform(dfnew['Location'])
dfnew['Gender_n'] = label_encoder1.fit_transform(dfnew['Gender'])

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_10512\2144656344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['Location_n'] = label_encoder.fit_transform(dfnew['Location'])
C:\Users\ELCOT\AppData\Local\Temp\ipykernel_10512\2144656344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['Gender_n'] = label_encoder1.fit_transform(dfnew['Gender'])

In [9]:
inputs_n = dfnew.drop(['Location','Gender'],axis='columns')

In [10]:

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the DataFrame using the scaler
df_scaled = pd.DataFrame(scaler.fit_transform(inputs_n), columns=inputs_n.columns)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_scaled, y, test_size=0.25)

In [12]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=10, random_state=42)

In [13]:
random_forest.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = random_forest.predict(X_test)

C:\Users\ELCOT\AppData\Local\Temp\ipykernel_10512\584113877.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_forest.fit(X_train, y_train)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.49688

In [16]:
from sklearn.svm import SVC
svm_classifier = SVC(kernel='linear', C=1)

In [ ]:
svm_classifier.fit(X_train, y_train)

C:\Users\ELCOT\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
y_pred = svm_classifier.predict(X_test)

# Calculate and print the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)